<div class="about">
	<h1>Social</h1>
	<div class="about-header">
		<div class="social">
			<a href="<%- theme.social.twitter %>">
				<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
			</a>
			<a href="<%- theme.social.github %>">
				<i class="fa fa-github fa-2x" aria-hidden="true"></i>
			</a>
			<a href="<%- theme.social.weibo %>">
				<i class="fa fa-weibo fa-2x" aria-hidden="true"></i>
			</a>
		</div>
	</div>
	<h1>About</h1>
	<div class="about-content">
		<%- theme.aboutContent %>
	</div>
</div>