.header{

	.banner{
		position: relative;
		.banner-image{
			width: 100%;
			overflow: hidden
		}
		.banner-image img{
			width: 100%;
		}
		.avatar{
			width: $avatar-size;
    		height: $avatar-size;
    		border-radius: 50%;
    		border: 5px solid #fff;
    		background-color: $avatar-backgound;
    		position: absolute;
    		left: 50%;
    		transform: translate(-50%,-50%);
    		z-index: 1;
    		top: 100%;
    		box-shadow: 0 0 3px rgba(0,0,0,0.4);
		}
	}

	.nav{
		line-height: 4.3rem;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		position: relative;
		a{
            width:5%;
			font-size: 20px;
			font-family: $font-blog-title;
			display: inline-block;
			line-height: 3rem;
			color: $content-color;
			position: relative;
			margin: 0 2% 0 2%;
			cursor: pointer;
			text-transform: uppercase;
            &:nth-child(1){
                margin-left: 24%;
            }
			&:nth-child(2){
				margin-right: 18%;

			}
			&:hover{
				color: $main-color;
			}
			&:before{
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 3px;
				background-color: $content-color;
				transition: all 0.3s ease-out;
			}
			&:hover:before{
				width:100%;
			}
		}

		.avatar{
			width: $avatar-size;
    		height: $avatar-size;
    		border-radius: 50%;
    		border: 5px solid #fff;
    		background-color: $avatar-backgound;
    		position: absolute;
    		left: 50%;
    		transform: translate(-50%,-50%);
    		z-index: 1;
    		top: 100%;
    		box-shadow: 0 0 3px rgba(0,0,0,0.4);
		}

	}
	.subtitle{
		color: $content-color;
		margin-top: 50px;
		text-align: center;
	}
}
