.page-nav{
		margin-top: 50px;
		li{
			list-style: none;
		}
		.btn{
			width: 140px;
			text-align: center;
			height: 50px;
			border-radius: 5px;
			background-color: $main-color;
			font-family: $font-mono;
			transition: all 0.4s ease;
			padding:5px 15px;

			a{
				color: #fff;
				display: block;
				line-height: 45px;
			}

			&:hover{
				background-color: rgb(32, 123, 109);

				a{
					color: #fff;
				}
			}
		}
		.next{
			float: right;
		}
		.previous{
			float: left;
		}
}